/* inter-regular - latin */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-latin-regular.woff2') format('woff2');
  font-display: swap;
}

/* inter-500 - latin */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-v13-latin-500.woff2') format('woff2');
  font-display: swap;
}

/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/space-mono-v13-latin-regular.woff2') format('woff2');
  font-display: swap;
}

/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/space-mono-v13-latin-700.woff2') format('woff2');
  font-display: swap;
}

/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bebas-neue-v14-latin-regular.woff2') format('woff2');
  font-display: swap;
}
