.generator {
  & .tabs {
    display: flex;
    column-gap: 8px;
    align-items: center;
    height: 45px;
    padding: 4px;
    margin-bottom: 16px;
    border: 1px solid var(--color-neutral-100);
    border-radius: 100px;

    & button {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 100px;
      outline: none;

      &.active {
        font-weight: 500;
        color: var(--color-foreground);
        background-color: var(--color-neutral-100);
        border: 1px solid var(--color-neutral-200);
      }
    }
  }

  & .resultWrapper {
    display: flex;
    column-gap: 8px;
    align-items: center;
    height: 50px;
    margin-bottom: 16px;

    & .score {
      display: flex;
      align-items: flex-end;
      width: 3px;
      height: 70%;
      overflow: hidden;
      background-color: var(--color-neutral-100);
      border-radius: 50px;

      & .filled {
        width: 100%;
        background-color: transparent;
        transition: 0.2s;
      }
    }

    & .result {
      display: flex;
      flex-grow: 1;
      column-gap: 4px;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 4px;
      border: 1px solid var(--color-neutral-200);
      border-radius: 12px;

      & input {
        flex-grow: 1;
        width: 100%;
        min-width: 0;
        padding: 0 0 0 8px;
        font-family: var(--font-mono);
        font-size: var(--font-sm);
        color: var(--color-foreground);
        background-color: transparent;
        border: none;
        outline: none;
      }

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1 / 1;
        color: var(--color-foreground-subtle);
        cursor: pointer;
        background-color: var(--color-neutral-100);
        border: none;
        border-radius: 8px;
        outline: none;

        &.generate {
          color: var(--color-neutral-50);
          background-color: var(--color-neutral-950);
        }

        &.hide {
          width: 30px;
          font-size: var(--font-sm);
          color: var(--color-foreground-subtler);
          background-color: transparent;
        }
      }
    }
  }

  & .crackTime {
    padding: 12px 0 12px 12px;
    margin-bottom: 16px;
    font-size: var(--font-sm);
    line-height: 1.6;
    color: var(--color-foreground-subtle);
    background: linear-gradient(90deg, var(--color-neutral-100), transparent);
    border-left: 2px solid var(--color-neutral-200);
    border-radius: 8px;

    & .time {
      display: flex;
      column-gap: 8px;
      align-items: center;

      & .label {
        min-width: max-content;
      }

      & .truncate {
        display: inline-block;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
      }
    }

    & .mono {
      font-family: var(--font-mono);
      color: var(--color-foreground);
    }

    & .attempts {
      margin-top: 8px;
      font-size: var(--font-xsm);

      & .mono {
        & .accent {
          color: #a3e635;
        }

        & sup {
          font-size: var(--font-2xsm);
          color: var(--color-foreground-subtle);
        }
      }

      & .text {
        padding-left: 4px;

        & span {
          color: var(--color-foreground-subtler);
        }
      }
    }
  }

  & .tabContent {
    padding: 20px;
    border: 1px dashed var(--color-neutral-100);
    border-radius: 12px;

    & .controls {
      & .length {
        margin-bottom: 16px;

        & label {
          display: block;
          margin-bottom: 8px;
          font-size: var(--font-sm);
          font-weight: 500;
          color: var(--color-foreground-subtle);
        }

        & .inputs {
          display: flex;
          column-gap: 12px;
          align-items: center;

          & input[type='number'] {
            width: 70px;
            min-width: 70px;
            height: 36px;
            padding: 0 4px;
            font-family: var(--font-mono);
            font-size: var(--font-sm);
            font-weight: 500;
            color: var(--color-foreground);
            text-align: center;
            background-color: var(--color-neutral-100);
            border: 1px solid var(--color-neutral-200);
            border-radius: 8px;
            outline: none;
          }

          & input[type='range'] {
            flex-grow: 1;
            width: 100%;
            min-width: 0;
            accent-color: #a3e635;
          }
        }
      }

      & .separator {
        margin-top: 16px;

        & label {
          display: block;
          margin-bottom: 8px;
          font-size: var(--font-sm);
          font-weight: 500;
          color: var(--color-foreground-subtle);
        }

        & select {
          display: block;
          width: 100%;
          min-width: 0;
          height: 40px;
          padding: 0 8px;
          font-size: var(--font-sm);
          font-weight: 500;
          color: var(--color-foreground);
          background-color: var(--color-neutral-100);
          border: 1px solid var(--color-neutral-200);
          border-radius: 8px;
          outline: none;
        }
      }

      & .custom {
        margin-top: 16px;

        & label {
          display: block;
          margin-bottom: 8px;
          font-size: var(--font-sm);
          font-weight: 500;
          color: var(--color-foreground-subtle);
        }

        & input {
          display: block;
          width: 100%;
          min-width: 0;
          height: 40px;
          padding: 0 8px;
          font-family: var(--font-mono);
          font-size: var(--font-sm);
          color: var(--color-foreground);
          background-color: var(--color-neutral-100);
          border: 1px solid var(--color-neutral-200);
          border-radius: 8px;
          outline: none;
        }
      }

      & .checkbox {
        display: flex;
        column-gap: 8px;
        align-items: center;
        font-size: var(--font-sm);
        color: var(--color-foreground-subtle);

        &:not(:last-of-type) {
          margin-bottom: 12px;
        }

        & input {
          accent-color: #a3e635;
        }
      }
    }
  }
}

.donate {
  margin-top: 20px;
  font-size: var(--font-xsm);
  color: var(--color-foreground-subtle);
  text-align: center;

  & a {
    font-weight: 500;
    color: var(--color-foreground);
    text-decoration-style: dotted;
    text-decoration-color: #a3e635;
  }
}
