---
import { Container } from './container';
---

<Container>
  <section class="hero">
    <div class="title">
      <div class="logo"><img alt="Passcure Logo" src="/logo.svg" /></div>
      <h1>Passcure <span>_</span></h1>
    </div>
    <p>Password generation made simple.</p>
  </section>
</Container>

<style>
  .hero {
    padding: 100px 0 40px;

    & .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-bottom: 12px;
      background-color: var(--color-neutral-100);
      border: 1px solid var(--color-neutral-200);
      border-radius: 8px;
      box-shadow:
        inset 0 1px 0 var(--color-neutral-50),
        inset 0 -1px 0 var(--color-neutral-300);

      & img {
        height: 60%;
        opacity: 0.7;
      }
    }

    & h1 {
      margin-bottom: 2px;
      font-family: var(--font-display);
      font-size: var(--font-md);
      font-weight: 600;

      & span {
        color: var(--color-foreground-subtler);
      }
    }

    & p {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
    }
  }
</style>
