---
import { Container } from './container';
---

<Container>
  <section class="hero">
    <h1>
      <span class="gradient">AwsmPass</span>
      <span class="dash">_</span>
    </h1>
    <p class="desc">Simple password generation.</p>
  </section>
</Container>

<style>
  .hero {
    padding: 100px 0 48px;

    & h1 {
      font-family: var(--font-heading);
      font-size: var(--font-md);
      font-weight: 600;

      & .dash {
        color: #0ea5e9;
      }

      & .gradient {
        background: linear-gradient(
          135deg,
          var(--color-foreground),
          var(--color-foreground),
          var(--color-foreground-subtler)
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    & .desc {
      margin-top: 4px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
    }
  }
</style>
