---
import { Container } from './container';
---

<Container>
  <section class="hero">
    <h1>
      AwsmPass
      <span class="dash">_</span>
    </h1>
    <p class="desc">Simple password generation.</p>
  </section>
</Container>

<style>
  .hero {
    padding: 100px 0 48px;

    & h1 {
      font-family: var(--font-heading);
      font-weight: 600;

      & .dash {
        color: #0ea5e9;
      }
    }

    & .desc {
      margin-top: 4px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
    }
  }
</style>
