---
import { Binary } from './binary';
import { CipherText } from './cipher-text';
import { Container } from './container';
---

<Container>
  <section class="hero">
    <Binary client:load />

    <h1>
      <span class="gradient">AwsmPass</span>
      <span class="dash">_</span>
    </h1>
    <p class="desc">
      <CipherText client:load text="Simple password generator." />
    </p>
  </section>
</Container>

<style>
  .hero {
    position: relative;
    padding: 100px 0 48px;

    & h1 {
      font-family: var(--font-heading);
      font-weight: 700;

      & .dash {
        color: var(--color-foreground-subtler);
      }

      & .gradient {
        background: linear-gradient(
          135deg,
          var(--color-foreground),
          var(--color-foreground),
          var(--color-foreground-subtler)
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    & .desc {
      height: 1em;
      margin-top: 4px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
    }
  }
</style>
