---
import { Container } from './container';
import Matrix from './matrix.astro';
---

<Container>
  <section class="hero">
    <Matrix />
    <div class="title">
      <div class="logo"><img alt="Passcure Logo" src="/logo.svg" /></div>
      <h1>
        <span class="first">Password Generation</span>
        <span class="second"
          >Should Be <span class="underline">Simple</span></span
        >
        <span class="third">Yet <span class="underline">Secure</span>.</span>
      </h1>
    </div>
    <p>And that&apos;s what <strong>Pord</strong> is for!</p>
  </section>
</Container>

<style>
  .hero {
    position: relative;
    padding: 100px 0 40px;
    text-align: center;

    & .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 0 auto 16px;
      background-color: var(--color-neutral-100);
      border: 1px solid var(--color-neutral-200);
      border-radius: 12px;
      box-shadow:
        inset 0 -1px 0 var(--color-neutral-50),
        inset 0 1px 0 var(--color-neutral-400);

      & img {
        height: 55%;
        opacity: 0.8;
      }
    }

    & h1 {
      margin-bottom: 4px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 700;
      line-height: 1.15;

      & .first,
      & .second,
      & .third {
        display: block;

        & .underline {
          text-decoration: underline;
          text-decoration-style: dotted;
          text-decoration-color: var(--color-foreground);
        }
      }

      & .second {
        color: var(--color-foreground-subtle);
      }

      & .third {
        color: var(--color-foreground-subtler);
      }

      & .gradient {
        background: linear-gradient(
          135deg,
          var(--color-foreground),
          var(--color-foreground),
          var(--color-neutral-500)
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    & p {
      margin-top: 16px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtler);

      & strong {
        font-weight: 500;
        color: var(--color-foreground-subtle);
      }
    }
  }
</style>
